.card {
    background-color: black; /* Cyan card background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #4ff8d2;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #4ff8d2; /* White border */
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-weight: bolder;
}

input[type="submit"] {
    background-color: black; /* Dark blue submit button */
    color: #4ff8d2;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00bcd4; /* Cyan hover color */
    color: #fff;
}
